In [1]:
import pickle
import pandas as pd

In [2]:
with open('./data/raw_dataset/aihub_ko-en.pkl', 'rb') as f:
    aihub = pickle.load(f)

with open('./data/raw_dataset/idiom_7355.pkl', 'rb') as f:
    idiom = pickle.load(f)

In [3]:
aihub

,ko,en
0,그녀가 할 수 있는 것은 우는 것이었습니다.,All she could do was cry.
1,그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.,Artworks enough to outshine Picasso poured.
2,내가 나에게 계속 해오고 있는 말이기 때문이다.,Because I keep saying to me.
3,나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.,Being old didn't mean being useless.
4,두 사람은 모두 신앙심이 깊은 것으로 알려졌다.,Both are known to be religious.
...,...,...
1602413,구청장은 신·재생에너지의 보급 확대를 위하여 행정재산 및 일반재산을 사용·수익허가 ...,In order to increase the supply of new and ren...
1602414,「옥외광고물 등의 관리와 옥외광고산업 진흥에 관한 법률 시행령」(이하 “영”이라 한...,Where filing an application for permission in ...
1602415,부칙 제2조「표 1」규정의 시행으로 감축되는 정원 27명(집행기관의 정원 27명)에...,Where there the current employees are in exces...
1602416,제8조의2(과태료의 부과 및 징수) ① 제8조제1항의 요구를 받은 자가 이에 따를 ...,Article 8-2 (Imposition and Collection of Fine...
1602417,"일단의 토지면적이 특별시·광역시 및 시지역에서 1,000제곱미터 이하, 그 밖의 지...",Where land that has buildings that are not own...

In [4]:
idiom

,ko,en,Label
1,토트넘은 첼시 홈에서 0대2로 덜미를 잡히면서 갈 길이 바빠졌다.,Tottenham got busy on their way as they were c...,1
3,비가 오나 눈이 오나 날씨에 상관없이 이동이 편리해졌으며 심지어 자동차 안에서 데이...,It has become easier to move regardless of the...,1
5,‘제재 유지’ 기조를 지키더라도 어떤 방식으로든 우회로를 확보해 숨통을 틔워주는 것...,"Even if you keep the ""maintenance of sanctions...",1
6,정부차원의 뿌리깊은 부패가 드러난 후 한국인들의 인식은 어떻게 변하였는가?,How did Koreans' perception change after the d...,1
7,그동안 안정된 해설과 재치 넘치는 입담을 뽐내는 그의 발목을 잡아 온 것이 있었으니...,The curse of Yun Yeo-chun is something that ha...,1
...,...,...,...
14701,솔샤르 감독은 데뷔전을 승리로 장식했지만 유럽축구연맹(UEFA) 챔피언스리그 진출을...,"Solskj르r made his debut with a victory, but h...",1
14702,"그건 그렇고, 우리가 진행했던 대로 귀사의 제품을 나이지리아로 보냈는지 알고 싶어요.","By the way, I'd like to know if your product w...",1
14703,연습을 하다 보니 대사들이 입에 잘 붙었다.,I got used to the lines a lot by practicing.,1
14704,그다음 일까지 걱정하며 뒤로 물러나는 모세의 모습이 안타깝게 느껴집니다.,It's a pity to see Moses giving up worrying ab...,1
14708,조 후보자에 대한 신뢰는 금이 갈대로 갔다.,Confidence in the candidate Cho has gone to th...,1

In [5]:
idiom_18808 = pd.read_csv('./data/raw_dataset/idiom_dataset_18808.csv')

In [6]:
idiom_18808

,ko,en
0,"실적 발표 직후 주가가 등락을 반복했지만, 시간이 지나면서 상승으로 가닥을 잡으며 ...",The stock price fluctuated shortly after the e...
1,대구 달서구의회와 북구의회는 잠정적으로 해외연수 취소 쪽으로 가닥을 잡았고 다른 기...,Daegu's Dalseo-gu and Buk-gu Councils have ten...
2,김경수 경남지사 당선인이 재난 재해에 즉각 대응하기 위해 창원의 도지사 관사에 입주...,South Gyeongsang Province Gov.-elect Kim Kyung...
3,국민들이 만족스럽다고 할 수 없지만 열심히 노력해서 일자리 문제 해결의 가닥을 잡았...,"The people are not satisfied, but they will sa..."
4,네이버 관계자는 “장기적으로 직원과 회사가 성장의 과실을 공유하는 방안을 고민하다가...,After thinking about sharing the fruits of gro...
...,...,...
18802,방탄소년단을 표지모델로 내세운 미국 시사 주간지 《타임》의 아시아판은 예약판매분이 ...,The Asian edition of the U.S. weekly magazine ...
18803,1975년 제주신문사가 주최한 최초의 공모전인 제주도전은 제주 미술 발전에 큰 획을...,The first contest held in Jeju by the Jeju New...
18804,"국내 오페라계의 주목받고 있는 연출가 이경재, 음악코치 이소영 등 최고의 제작스텝들...",Along with the best production staff Lee Kyung...
18805,올해에도 벌써 수많은 것들을 이뤄냈지만 6월 말에 접하게 된 RIAA의 플래티넘 디...,"I am overwhelmed, as the news of RIAA's Platin..."
18806,낙동강과 함께 ‘호국의 고장’이라는 지역적인 특성이 칠곡 문학의 정서에 큰 획을 긋...,"Along with the Nakdonggang River, the regional..."

In [7]:
aihub_idiom = pd.concat([aihub, idiom_18808])
aihub_idiom

,ko,en
0,그녀가 할 수 있는 것은 우는 것이었습니다.,All she could do was cry.
1,그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.,Artworks enough to outshine Picasso poured.
2,내가 나에게 계속 해오고 있는 말이기 때문이다.,Because I keep saying to me.
3,나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.,Being old didn't mean being useless.
4,두 사람은 모두 신앙심이 깊은 것으로 알려졌다.,Both are known to be religious.
...,...,...
18802,방탄소년단을 표지모델로 내세운 미국 시사 주간지 《타임》의 아시아판은 예약판매분이 ...,The Asian edition of the U.S. weekly magazine ...
18803,1975년 제주신문사가 주최한 최초의 공모전인 제주도전은 제주 미술 발전에 큰 획을...,The first contest held in Jeju by the Jeju New...
18804,"국내 오페라계의 주목받고 있는 연출가 이경재, 음악코치 이소영 등 최고의 제작스텝들...",Along with the best production staff Lee Kyung...
18805,올해에도 벌써 수많은 것들을 이뤄냈지만 6월 말에 접하게 된 RIAA의 플래티넘 디...,"I am overwhelmed, as the news of RIAA's Platin..."
18806,낙동강과 함께 ‘호국의 고장’이라는 지역적인 특성이 칠곡 문학의 정서에 큰 획을 긋...,"Along with the Nakdonggang River, the regional..."

In [8]:
general = aihub_idiom.drop_duplicates(['ko'], keep = False)
general.head()

                               ko                                           en
0        그녀가 할 수 있는 것은 우는 것이었습니다.                    All she could do was cry.
1     그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.  Artworks enough to outshine Picasso poured.
2      내가 나에게 계속 해오고 있는 말이기 때문이다.                 Because I keep saying to me.
3  나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.         Being old didn't mean being useless.
4      두 사람은 모두 신앙심이 깊은 것으로 알려졌다.              Both are known to be religious.

In [11]:
general.to_csv('./data/final_corpus/general_corpus.csv', index=False)

In [15]:
idiom.head()

,ko,en,Label
1,토트넘은 첼시 홈에서 0대2로 덜미를 잡히면서 갈 길이 바빠졌다.,Tottenham got busy on their way as they were c...,1
3,비가 오나 눈이 오나 날씨에 상관없이 이동이 편리해졌으며 심지어 자동차 안에서 데이...,It has become easier to move regardless of the...,1
5,‘제재 유지’ 기조를 지키더라도 어떤 방식으로든 우회로를 확보해 숨통을 틔워주는 것...,"Even if you keep the ""maintenance of sanctions...",1
6,정부차원의 뿌리깊은 부패가 드러난 후 한국인들의 인식은 어떻게 변하였는가?,How did Koreans' perception change after the d...,1
7,그동안 안정된 해설과 재치 넘치는 입담을 뽐내는 그의 발목을 잡아 온 것이 있었으니...,The curse of Yun Yeo-chun is something that ha...,1

In [16]:
idiom_ko = list(idiom['ko'])
idiom_ko[:10]

['토트넘은 첼시 홈에서 0대2로 덜미를 잡히면서 갈 길이 바빠졌다.',
 '비가 오나 눈이 오나 날씨에 상관없이 이동이 편리해졌으며 심지어 자동차 안에서 데이트도 할 수 있습니다.',
 '‘제재 유지’ 기조를 지키더라도 어떤 방식으로든 우회로를 확보해 숨통을 틔워주는 것이 비핵화 촉진에 도움이 될 수 있다는 점을 기억하기 바란다.',
 '정부차원의 뿌리깊은 부패가 드러난 후 한국인들의 인식은 어떻게 변하였는가?',
 '그동안 안정된 해설과 재치 넘치는 입담을 뽐내는 그의 발목을 잡아 온 것이 있었으니 ‘윤여춘의 저주’다.',
 '혹시 모르니 여분으로 2장 준비해주세요. 무조건 최근 6개월 이내의 사진이어야 합니다.',
 '정의당 전 대표이기도 했던 심상정 의원은 첫날 빈소를 지킨 뒤 페이스북에 “억장이 무너져 내린 하루가 그렇게 갔다”는 내용의 글을 올렸다.',
 '현금성 자산만 2조를 훌쩍 넘는 공기업 한전이 ‘직접 활선 공법’을 고집했던 이유는 다름 아닌 이윤 추구 때문이었다.',
 '지난 3일에는 묀힌글라드바흐를 상대로 출전하며 분데스리가 무대를 밟았다.',
 '아시안게임임에도 불구하고 북미, 유럽 등 지역을 가리지 않는 수많은 팬이 경기장을 찾아 본인들이 응원하는 팀과 선수를 목 놓아 외쳤다.']

In [18]:
new_ko = []
for s in idiom_ko:
    new = '<idm> ' + s
    new_ko.append(new)

In [20]:
new_idiom_df = pd.DataFrame({'ko': new_ko, 'en': idiom['en']})
new_idiom_df.head()

,ko,en
1,<idm> 토트넘은 첼시 홈에서 0대2로 덜미를 잡히면서 갈 길이 바빠졌다.,Tottenham got busy on their way as they were c...
3,<idm> 비가 오나 눈이 오나 날씨에 상관없이 이동이 편리해졌으며 심지어 자동차 ...,It has become easier to move regardless of the...
5,<idm> ‘제재 유지’ 기조를 지키더라도 어떤 방식으로든 우회로를 확보해 숨통을 ...,"Even if you keep the ""maintenance of sanctions..."
6,<idm> 정부차원의 뿌리깊은 부패가 드러난 후 한국인들의 인식은 어떻게 변하였는가?,How did Koreans' perception change after the d...
7,<idm> 그동안 안정된 해설과 재치 넘치는 입담을 뽐내는 그의 발목을 잡아 온 것...,The curse of Yun Yeo-chun is something that ha...

In [21]:
new_idiom_df.to_csv('./data/final_corpus/idiom_corpus.csv', index=False)

In [23]:
general_corpus = pd.read_csv('./data/final_corpus/general_corpus.csv')
general_corpus

,ko,en
0,그녀가 할 수 있는 것은 우는 것이었습니다.,All she could do was cry.
1,그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.,Artworks enough to outshine Picasso poured.
2,내가 나에게 계속 해오고 있는 말이기 때문이다.,Because I keep saying to me.
3,나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.,Being old didn't mean being useless.
4,두 사람은 모두 신앙심이 깊은 것으로 알려졌다.,Both are known to be religious.
...,...,...
1577945,구청장은 신·재생에너지의 보급 확대를 위하여 행정재산 및 일반재산을 사용·수익허가 ...,In order to increase the supply of new and ren...
1577946,「옥외광고물 등의 관리와 옥외광고산업 진흥에 관한 법률 시행령」(이하 “영”이라 한...,Where filing an application for permission in ...
1577947,부칙 제2조「표 1」규정의 시행으로 감축되는 정원 27명(집행기관의 정원 27명)에...,Where there the current employees are in exces...
1577948,제8조의2(과태료의 부과 및 징수) ① 제8조제1항의 요구를 받은 자가 이에 따를 ...,Article 8-2 (Imposition and Collection of Fine...
1577949,"일단의 토지면적이 특별시·광역시 및 시지역에서 1,000제곱미터 이하, 그 밖의 지...",Where land that has buildings that are not own...

In [34]:
idiom_corpus = pd.read_csv('./data/final_corpus/idiom_corpus.csv')
idiom_corpus = idiom_corpus.sample(frac=1)
idiom_corpus

,ko,en
2281,<idm> 하루가 다르게 실 자체가 정교해지고 가늘고 부드러워지므로 과거에 있던 다...,"As every day, the thread itself becomes sophis..."
734,"<idm> 노사정이 머리를 맞댄 사회적 합의가 발목이 잡힌 형국으로, 경사노위 논의...","As the labor, management, and the government a..."
4152,"<idm> 반면에, 외향적인 사람들은 사회적으로 자신감 있고, 발이 빠릅니다.","On the other hand, extroverts are socially con..."
6817,<idm> 맨발로 도망치다 우에마 요코 오키나와 류큐대학 교수(교육학)가 6명의 1...,"Fleeing Barefoot: Uema Yoko, Professor at Okin..."
977,<idm> 하늘 높은 줄 모르고 치솟는 아파트 가격을 방치하다가 시민여론이 악화되자...,They say they were making a fuss belatedly as ...
...,...,...
4943,<idm> 데이터 조작으로 홍역을 치렀던 닛산에 경영진 리스크까지 겹치면서 창사 이...,"Analysts say, Nissan, which suffered a rough t..."
3551,<idm> 넥센을 상대하면서 진이 다 빠진 것 같다.,They look exhausted dealing with Nexen.
4688,<idm> 조리가 끝나고 완성된 음식을 맛보기 위해 한식 상차림을 재현해보며 강사는...,Reproducing the Korean table setting to taste ...
5396,<idm> 선수단 모두 폭염에 혀를 내두르고 있어 시설이 잘 갖춰진 홈에서 경기를 ...,As all the players were astonished by the heat...
5258,<idm> 한국당은 “노조가 회사를 쥐고 흔들고 있다”며 노사 협상 과정에서 노조 ...,"The Liberty Korea Party said, ""The union is co..."

# Train corpus 생성

In [35]:
train_df = pd.concat([general_corpus[:1564450], idiom_corpus[:5855]])
train_df = train_df.sample(frac=1)

In [36]:
train_df

,ko,en
1245343,내 남자친구는 대구에 삽니다.,My boyfriend lives in Daegu.
1141916,나는 봉사캠프를 갔던 용인에서 장애인 분들과 같이 찍었던 사진이 가장 의미 있는 사...,I think that the picture I took with handicapp...
38983,"그때 한 남성 승무원이 다가와 아이를 향해 소리치며 꾸짖었고, 아이는 겁에 질려 더...","At that time, a male flight attendant came up ..."
891612,"경기도가 오는 2018년까지 하천정비사업에 7,859억 원, 선제적 예방사업과 재해...",Gyeonggi provincial government will invest a t...
235499,"장우혁, 비밥(뮤지컬 공연), 진조 크루(비보이팀) 등을 초청하여 공연도 하면서 따...","Jang Woo-hyuk, Bebop (musical performance), an..."
...,...,...
222062,홍콩 전역에서는 일본산 분유 사재기가 시작되어 현재는 거의 매진 상태다.,"Across Hong Kong, the Japanese formula milk is..."
1349814,이 노래의 제목이 바로 눈 내리는 날입니다.,The title of this song is Snowy Day.
600366,취업하고 얼마 후 임대업을 하던 회장님이 앞으로 계속 같이 일하자며 내게 빌딩 관리...,"The Chairman, who was in the rental business, ..."
40214,"이미 중국 가전사에서는 스카이워스, 콩카, 창훙 등 제조사가 OLED TV 시장에 ...",Chinese home appliances makers such as Skywort...
517574,기사를 접한 중국 네티즌들은 한발 더 나아가 85℃가 대만 독립을 지지하는 것 아니...,"Chinese netizens, who saw the news, even expre..."

In [37]:
train_df.to_csv('./data/final_corpus/train_corpus.csv', index=False)

In [40]:
with open('./data/final_corpus/src-train.txt', 'w') as f: 
    for k in train_df['ko']:
        f.write(k + '\n')
        # print(k)

In [44]:
with open('./data/final_corpus/tgt-train.txt', 'w') as f: 
    for e in train_df['en']:
        f.write(e + '\n')

# Validaion corpus 생성

In [43]:
val_df = pd.concat([general_corpus[1564450:1564450+4500], idiom_corpus[5855:5855+500]])
val_df = val_df.sample(frac=1)
val_df

,ko,en
1565837,교육감은 제3항에 따라 제공하는 상품권 등의 종류 및 액수 등 그 밖에 행사운영에 ...,The superintendent of the Office of Education ...
1568408,구청장은 위원회의 운영에 필요한 경비와 회의출석 위원에 대한 수당 등을 예산의 범위...,The head of the Gu may subsidize expenses incu...
1568164,"의장은 지역주민, 단체, 협회 등 5명 이상의 단체방문객이 의회의 회의를 방청하게 ...","When a group of at least five persons, includi..."
3929,<idm> 함 행장은 “다음 달 열리는 장애인 아시안게임에서 우리 선수들이 좋은 열...,"With the people's desire, we cheer for our ath..."
5824,<idm> 또 공부에 손을 놓게 되었어요.,I was giving up studying again.
...,...,...
1568896,공무원은 직무 관련 여부 및 기부ㆍ후원ㆍ증여 등 그 명목에 관계없이 동일인으로부터 ...,"No public official shall receive, demand, or p..."
1567906,구청장은 보조금 지원을 받은 관련 장애인 단체에 대하여 그 업무에 대한 보고를 명하...,For the relevant organization of persons with ...
1567884,주관부서의 장은 작성하고자 하는 입법안이 다른 규정에 따라 다른 기관과의 사전협의가...,The head of the supervising department must ap...
1565724,주관부서의 장은 입법예고를 하기 전에 법령이나 다른 규정 등에 따라 다른 기관 또는...,If the head of the Supervising Department need...
1565280,“자원봉사활동”이란 개인 또는 단체가 타인 및 지역사회 등을 위하여 영리적 반대급부...,"The term ""volunteer service activities"" means ..."

In [45]:
val_df.to_csv('./data/final_corpus/val_corpus.csv', index=False)

In [46]:
with open('./data/final_corpus/src-val.txt', 'w') as f: 
    for k in val_df['ko']:
        f.write(k + '\n')

In [47]:
with open('./data/final_corpus/tgt-val.txt', 'w') as f: 
    for e in val_df['en']:
        f.write(e + '\n')

# Test Corpus 생성

In [49]:
test_df = pd.concat([general_corpus[1564450+4500:], idiom_corpus[5855+500:]])
test_df = test_df.sample(frac=1)
test_df

,ko,en
910,<idm> 김정은 북한 국무위원장이 머리를 숙여 인사하는 모습을 두고 문재인 대통령...,It is said that Chairman of the State Affairs ...
1571347,이 조례는 「지방자치단체 출자·출연기관의 운영에 관한 법률」 제4조제3항에 따라 동...,The purpose of this Ordinance is to prescribe ...
1573731,이 조례는 경기도(이하 “도”라 한다)에 거주하는 탈북가정청소년의 학습권을 보장하고...,The purpose of this Ordinance is to prescribe ...
1572554,"그 밖에 구청장은 정비시범구역 외에 관광 진흥, 지역경제 활성화 및 차별화된 거리환...",If the head of the Gu deems it necessary for t...
1575428,이 조례는 경기도 내 각급 학교에서 난독증으로 학습에 어려움을 겪고 있는 학생이 학...,The purpose of this Ordinance is to prescribe ...
...,...,...
1569256,부서장은 제1항에 따른 규제영향분석서를 입법예고 기간 동안 국민에게 공표하여야 하고...,The head of the department shall announce the ...
1572524,"구청장은 구에서 운영 또는 지원하는 체육프로그램이 장애인의 성별, 장애의 유형 및 ...",The head of the Gu shall ensure that sports pr...
1569160,동장은 공사착공 전에 명예감독관을 선정하여 구청장에게 통보 위촉하게 하여야 한다. ...,The head of the Dong shall select honorary sup...
1574294,위원회는 제4조에서 정한 사항에 대한 심의를 효율적으로 수행하기 위하여 필요하다고 ...,If the Committee deems it necessary to efficie...
1571711,"기금을 융자받은 중소기업자는 상호, 대표자, 소재지 및 사업계획 등의 변경이 있을 ...",A small and medium enterprise operator who has...

In [50]:
test_df.to_csv('./data/final_corpus/test_corpus.csv', index=False)

In [51]:
with open('./data/final_corpus/src-test.txt', 'w') as f: 
    for k in test_df['ko']:
        f.write(k + '\n')

In [52]:
with open('./data/final_corpus/tgt-test.txt', 'w') as f: 
    for e in test_df['en']:
        f.write(e + '\n')

In [1]:
with open('./data/final_corpus/tgt-train.txt', 'r') as f: 
    data = f.readlines()

In [3]:
import re

for i, d in enumerate(data):
    if d.startswith('-'):
        print(i, d)

225277 -The sharing market economy is a new economic framework that creates business models by utilizing the infrastructure and policies provided by the private sector.

791938 -> The increase in fights and flights between children is not a momentary thing, but a cause of accumulation over a long period of time.

1554587 - 49KG,- 53KG match for woman will be held on 30th.